/* -- MainContent.jsx style start -- */
.wrapper {
    background-color: #F3F3F5;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    min-height: 220px;
}

.mainBlock {
    width: 85%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* -- MainContent.jsx style end -- */

/* -- Notes style in Note.jsx start -- */
.itemBlock {
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
}

.checkbox {
    color: #2D487F;
    margin-left: 20px;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
}

.itemText {
    font-size: 18px;
    margin-left: 30px;
    flex-grow: 1;
}

.delete {
    color: #2D487F;
    margin-right: 20px;
    opacity: 0;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
}
.itemBlock:hover .delete {
    opacity: 1;
    transition: .3s;
}

.edit {
    color: #2D487F;
    margin-right: 10px;
    opacity: 0;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
}
.itemBlock:hover .edit {
    opacity: 1;
    transition: .3s;
}

.completed>.checkbox {
    opacity: .6;
}
.completed>.itemText {
    opacity: .4;
    text-decoration-line: line-through;
}
.completed:hover .edit {
    opacity: .6;
}
.completed:hover .delete {
    opacity: .6;
}
/* -- Notes style in Note.jsx start -- */

/* -- editing form in Note.jsx start -- */
.editWrapper {
    width: 100%;
    height: 70px;
    background-color: white;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input {
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    margin-left: 20px;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 60%;
    border-bottom: 1px solid #D2D2D2;
}

.save {
    background: none;
    border: none;
    color: #2D487F;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}
/* -- editing form in Note.jsx end -- */

