.wrapper {
    background-color: #F3F3F5;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
}

.icon_block {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.icon_block_active {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    border-bottom: 2px solid #2D487F;
}

.filter_icon {
    background: none;
    border: none;
    color: #2D487F;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.icon_block:hover {
    background-color: #e6e6e6;
    transition-duration: .3s;
    /*background-color: rgba(255, 55, 103, 0.2);*/
}
.icon_block_active:hover {
    background-color: #e6e6e6;
    /*background-color: rgba(255, 55, 103, 0.2);*/
}