.wrapper {
    color: white;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.wrapper>span:first-child {
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.wrapper>span:nth-child(2) {
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
    flex-grow: 1;
}

.create {
    margin-left: 15px;
    margin-right: 10px;
    opacity: 0;
    cursor: pointer;
}

.delete {
    margin-right: 15px;
    opacity: 0;
    cursor: pointer;
}

.wrapper:hover .create {
    opacity: .5;
    transition: .3s;
}
.wrapper:hover .delete {
    opacity: .5;
    transition: .3s;
}