.wrapper {
    color: white;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.list {
    margin-left: 15px;
    margin-right: 30px;
    cursor: pointer;
    opacity: 1;
}

.text {
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
    flex-grow: 1;
}

.create {
    margin-left: 30px;
    margin-right: 10px;
    opacity: 0;
    cursor: pointer;
}

.delete {
    margin-right: 15px;
    opacity: 0;
    cursor: pointer;
}

.wrapper:hover .create {
    opacity: .5;
    transition: .3s;
}
.wrapper:hover .delete {
    opacity: .5;
    transition: .3s;
}

.category_block {
    max-height: 378px;
    overflow-y: auto;
}