.category_block {
    overflow-y: auto;
}

.wrapper {
    display: flex;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.Active {
    background: rgba(255, 255, 255, .2);
}

.list {
    margin-left: 15px;
    margin-right: 5px;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    color: white;
    outline: none;
}

.text {
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
}

.create {
    margin-left: 5px;
    margin-right: 10px;
    opacity: 0;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    color: white;
    outline: none;
}

.delete {
    margin-right: 15px;
    opacity: 0;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    color: white;
    outline: none;
}

.wrapper:hover .create {
    opacity: .5;
    transition: .3s;
}
.wrapper:hover .delete {
    opacity: .5;
    transition: .3s;
}

/* -- editingForm in CategoryItem.jsx -- */ 
.editWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 40px;
}

.input {
    font-family: 'Roboto', sans-serif;
    background: none;
    border: none;
    width: 150px;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 5px;
    outline: none;
}

.input::-webkit-input-placeholder {
    color: white;
    opacity: 0.5;
}

.save {
    background: none;
    border: none;
    color: white;
    padding: 0;
    margin-left: 5px;
    margin-right: 15px;
    outline: none;
}
/* -- end -- */