.wrapper {
    background-color: #F3F3F5;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
}

.mainBlock {
    width: 85%;
    margin: auto;
    margin-top: 50px;
    min-width: 400px;
    margin-bottom: 50px;
}

.itemBlock {
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
}

.itemBlock>div:first-child {
    color: #2D487F;
    margin-left: 20px;
    cursor: pointer;
}

.itemText {
    font-size: 18px;
    margin-left: 30px;
    flex-grow: 1;
}

.delete {
    color: #2D487F;
    margin-right: 20px;
    opacity: 0;
    cursor: pointer;
}
.itemBlock:hover .delete {
    opacity: 1;
    transition: .3s;
}

.edit {
    color: #2D487F;
    margin-right: 10px;
    opacity: 0;
    cursor: pointer;
}
.itemBlock:hover .edit {
    opacity: 1;
    transition: .3s;
}

.completed>div:first-child {
    opacity: .6;
}
.completed>div:nth-child(2) {
    opacity: .4;
    text-decoration-line: line-through;
}
.completed:hover div:nth-child(3) {
    opacity: .6;
}
.completed:hover div:nth-child(4) {
    opacity: .6;
}