.wrapper {
    background-color: #F3F3F5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirmMes {
    padding: 16px 10px 15px 10px;
    background: #f296ac;
}

.confirmMesHid {
    visibility: hidden;
}

.confirmWord {
    text-decoration: underline;
    cursor: pointer;
}

.confirmWord:hover {
    color: white;
}

.arrow {
    cursor: pointer;
    color: #2D487F;
    margin-right: 10px;
    -webkit-user-select: none;
  }